.search-input-btn-area{//顶部搜索区域
	text-align: right; 
}
.table-icon-function-btn{//表格内操作按钮
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
	background-color: $primary;
	transition:background-color 0.3s;
}
.table-for-information{//包裹表格外层div
	margin-top:20px;
}
.treeDom-table{//左边属性图右边表格展示
	display: flex;
}
.treeDomTable-tree-area{//树形图
    margin-right: 20px;
	width: 200px;
	overflow-x:hidden;
    border: 2px solid #ddd;
    .tree-scroll-hide{
    	width: 215px;
    }
}
.treeDomTable-table-area{//树形图的对应图表
	flex:1;
}